@charset "UTF-8";
footer {
  margin-top: 30px;
}

.footbrand {
  width: 757px;
  background: #fff;
  overflow: hidden;
  padding-bottom: 1px;
  margin: 0 auto;
  height: 142px;
}

.footbrand a {
  color: #333;
  border: 1px solid #DFDFDF;
  display: block;
  float: left;
  height: 70px;
  margin: 0 -1px -1px 0;
  overflow: hidden;
  position: relative;
  text-indent: -999px;
  width: 125px;
  background: url("//images.s.cn/images/css/default_brandwall_bg11.png") no-repeat 0 0;
  cursor: pointer;
}

.footbrand a.nike {
  background-position: 36px -176px;
}

.footbrand a.adidas {
  background-position: -88px -176px;
}

.footbrand a.syc {
  background-position: -699px -330px;
}

.footbrand a.neo {
  background-position: -824px -328px;
}

.footbrand a.nb {
  background-position: -574px -176px;
}

.footbrand a.converse {
  background-position: -582px -10px;
}

.footbrand a.skq {
  background-position: -578px -257px;
}

.footbrand a.puma {
  background-position: -821px -176px;
}

.footbrand a.asics {
  background-position: -451px -331px;
}

.footbrand a.lining {
  background-position: -211px -176px;
}

.footbrand a.nike_tx {
  background-position: -211px -491px;
}

.footbrand a.adidas_tx {
  background-position: -334px -491px;
}

.footbrand a span {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
  visibility: hidden;
  width: 100%;
  cursor: pointer;
}

.footbrand a:hover span {
  background: #000;
  opacity: 0.1;
  filter: alpha(opacity=10);
  visibility: visible;
}

.btmfenlei_hd {
  position: relative;
  height: 36px;
  width: 990px;
  margin: 0 auto 28px;
  clear: both;
  border-bottom: 1px solid #ccc;
}

.btmfenlei_hd h3 {
  font-size: 18px;
  font-family: microsoft yahei;
  position: absolute;
  left: 50%;
  margin: 12px 0 0 -60px;
  background: #fff;
  padding: 10px 20px;
  font-weight: 100;
}

.btmfenlei_body {
  width: 990px;
  margin: 0 auto 15px;
  font-family: microsoft yahei;
  overflow: hidden;
}

.btmfenlei_body a:hover {
  color: #c00;
  text-decoration: underline;
}

.btmfenlei_body dl {
  float: left;
  width: 245px;
  padding-right: 2px;
}

.btmfenlei_body dt {
  text-align: center;
}

.btmfenlei_body dt a {
  color: #222;
}

.btmfenlei_body dt a s {
  display: block;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
}

.btmfenlei_body dd {
  border-right: 1px dotted #ccc;
  height: 85px;
  overflow: hidden;
  padding: 0 10px 0 15px;
}

.btmfenlei_body dd a {
  float: left;
  color: #555;
  margin-bottom: 10px;
  white-space: nowrap;
  width: 54px;
  font-size: 12px;
  text-decoration: none;
}

.foot {
  border-top: 2px solid #ce3c3b;
  background: #f8f8f8;
}

.foot .row {
  padding: 15px;
  background: #f5f5f5;
  border-bottom: 1px solid #e8e8e8;
}

.foot .row .ewm {
  position: relative;
  float: left;
  height: 195px;
  width: 220px;
  border-right: 1px solid #dedede;
}

.foot .row .ftli {
  border-left: 1px solid #fff;
  height: 195px;
  padding-left: 40px;
  float: left;
  line-height: 1.6em;
}

.foot .row .ftli li {
  float: left;
  width: 186px;
}

.foot .row .ftli li h6 {
  height: 36px;
  margin: 5px 0 25px;
  color: #111;
}

.foot .row .ftli li h6 a:hover {
  zoom: 1;
  filter: alpha(opacity=80);
  opacity: 0.8;
}

.foot .row .ftli li h5 {
  margin: 0 0 6px;
  font-size: 14px;
  color: #666;
  font-family: '宋体';
  font-weight: bold;
}

.foot .row .ftli li .c999 a {
  color: #999;
}

.foot .row .ftli li .c999 a:hover {
  color: #c00;
  text-decoration: underline;
}

.foot .row .ftli li.last {
  width: 156px;
}

.foot .row2 {
  text-align: center;
  padding: 20px 0;
}

.foot .row2 span {
  color: #ccc;
  font-family: '宋体';
}

.foot .row2 a {
  color: #777;
}

.foot .row2 a:hover {
  color: #f40;
  text-decoration: underline;
}

.foot .row2 s {
  font-size: 20px;
  color: #c00;
  font-weight: 700;
}

.foot .row3 {
  width: 640px;
  height: 50px;
  margin: 0 auto 30px;
}

.foot .row3 a {
  float: left;
  width: 112px;
  height: 47px;
  margin-right: 10px;
}

.foot .row3 a:hover {
  border: 1px solid #d5d5d5;
  width: 110px;
  height: 45px;
  overflow: hidden;
}

.rolling {
  width: 990px;
  border-bottom: 1px dashed #CCCCCC;
  border-top: 1px dashed #CCCCCC;
  height: 20px;
  padding: 5px;
  margin: 0 auto;
}

.rolling h4 {
  float: left;
  color: #999;
  font-size: 12px;
  font-weight: normal;
  line-height: 20px;
}

.rolling a {
  color: #999;
  float: left;
  padding: 0 5px;
  white-space: nowrap;
}

.rolling a:hover {
  text-decoration: underline;
}
