.header {
  height: 90px;
  padding-top: 10px;
}

.header .header-list1 {
  float: left;
  width: 266px;
  height: 90px;
}

.header .header-list2 {
  float: left;
  padding: 0 20px;
  height: 90px;
  line-height: 90px;
  font-size: 26px;
}

.header .header-list3 {
  float: right;
  width: 120px;
  height: 90px;
  line-height: 140px;
  text-align: right;
}

.header .header-list3 a {
  color: #006ee7;
}

.header .header-list3 a:hover {
  text-decoration: underline;
}

.wrapper {
  height: 600px;
}

.wrapper .container {
  width: 1200px;
  height: 600px;
}

.wrapper .container .container-left {
  width: 590px;
  height: 100%;
  padding: 0 70px;
  float: left;
}

.wrapper .container .container-right {
  width: 388px;
  height: 100%;
  padding: 0 41px;
  float: left;
}

.wrapper .container .container-right .login-box {
  width: 340px;
  height: 412px;
  margin: 64px 0;
  background: #fff;
  padding: 30px 24px;
  position: relative;
}

.wrapper .container .container-right .login-box i {
  float: left;
  width: 18px;
  height: 22px;
  margin: 9px 10px;
  background: url("../images/login_icon.png") no-repeat;
}

.wrapper .container .container-right .login-box input {
  float: left;
  width: 285px;
  line-height: 24px;
  padding: 8px 5px;
  font-size: 14px;
}

.wrapper .container .container-right .login-box .title {
  height: 20px;
  line-height: 20px;
  font-size: 20px;
  color: #333;
  margin-bottom: 12px;
}

.wrapper .container .container-right .login-box .input-box {
  height: 40px;
  border: solid 1px #ddd;
}

.wrapper .container .container-right .login-box .input-box .user-icon {
  background-position: -20px 0;
}

.wrapper .container .container-right .login-box .input-box .lock-icon {
  background-position: -49px 0;
}

.wrapper .container .container-right .login-box .error {
  opacity: 0;
  height: 24px;
  line-height: 24px;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.wrapper .container .container-right .login-box .error.show {
  opacity: 1;
}

.wrapper .container .container-right .login-box .error .prompt-icon {
  float: left;
  width: 14px;
  height: 14px;
  background-position: 0 0;
  margin: 5px;
}

.wrapper .container .container-right .login-box .error .error-text {
  float: left;
  line-height: 24px;
  color: #f00;
  font-size: 12px;
}

.wrapper .container .container-right .login-box .verify {
  width: 340px;
  height: 42px;
}

.wrapper .container .container-right .login-box .verify .input-box {
  float: left;
  width: 208px;
}

.wrapper .container .container-right .login-box .verify .input-box input {
  width: 160px;
}

.wrapper .container .container-right .login-box .verify img {
  float: left;
  width: 130px;
  height: 42px;
}

.wrapper .container .container-right .login-box .check-box {
  height: 20px;
  line-height: 16px;
  margin-bottom: 10px;
  color: #666666;
  font-size: 12px;
}

.wrapper .container .container-right .login-box .check-box #login-checkbox {
  float: left;
  width: 12px;
  height: 12px;
  border: solid 1px #ddd;
  margin: 3px 5px 3px 0;
  cursor: pointer;
}

.wrapper .container .container-right .login-box .check-box label {
  line-height: 16px;
  cursor: pointer;
}

.wrapper .container .container-right .login-box .btn {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  background: #c40000;
  margin-bottom: 10px;
}

.wrapper .container .container-right .login-box .forget {
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  margin-bottom: 70px;
}

.wrapper .container .container-right .login-box .forget a:hover {
  text-decoration: underline;
}

.wrapper .container .container-right .login-box .forget .reg {
  color: #0099ff;
}

.wrapper .container .container-right .login-box .forget .fp {
  color: #000;
}
