<!-- 头部导航 -->
<div class="top-nav">
  <div class="container clearfix">
    <ul class="nav">
      <li class="no-login">
        <a href="http://localhost/html/login.html">欢迎登录名鞋库</a>
        <a href="http://localhost/html/register.html">免费注册</a>
      </li>
      <li class="logined">
        <span id="uname">欢迎您，<a style="color: #c00;">qilong1</a>！</span>
        <a href="#" class="exit">[退出]</a>
      </li>
      <script>
        $(".exit").click(function (e) {
          e.preventDefault();
          $.removeItem("userInfo");
          $.get({
            url: "http://localhost/users/logout",
            success(res) {
              location.reload();
            }
          })

        })
      </script>
      <li class="mine">
        <a href="#">我的名鞋库</a><i class="triangle"></i>
        <div class="mask"></div>
        <ul>
          <li><a href="#">我的订单</a></li>
          <li><a href="#">我的积分</a></li>
          <li><a href="#">优惠券</a></li>
          <li><a href="#">商品收藏</a></li>
          <li><a href="#">收货地址</a></li>
          <li><a href="#">密码管理</a></li>
        </ul>
      </li>
      <li class="phone">
        <a href="#">手机名鞋库</a><i class="triangle"></i>
        <div class="mask"></div>
        <ul>
          <li>
            <img style="margin-right: 10px;" src="http://images.s.cn/images/css/201410081165.png" alt="">
          </li>
          <li>
            <img src="https://images.s.cn/images/css/201410081168.png" alt="">
          </li>
        </ul>
      </li>
      <li class="star"><a href="#">收藏名鞋库</a></li>
      <li class="tel">
        <img src="//images.s.cn/statics/transparent.gif"
          style="background:url(//images.s.cn/images/2012/1024/201403041003.png)" width="124" height="16">
      </li>
    </ul>
  </div>
</div>
<!-- logo-搜索-购物车按钮区域 -->
<div class="logo container clearfix">
  <h2><a href="http://localhost"><img src="//images.s.cn/statics/transparent.gif" alt=""></a></h2>
  <div class="logo-right">
    <div class="search">
      <div class="search-box">
        <input type="text" placeholder="篮球鞋">
        <ul class="data-list">
          <li>跑步鞋</li>
          <li>跑步鞋</li>
        </ul>
      </div>
      <a href="#" class="search-btn">搜索</a>
      <script>
        $(function () {
          let wd = "";
          let data = [];
          let id = null;
          let list = $(".data-list");
          let searchBtn = $(".search-btn");
          let searchInput = $(".search-box input");
          searchInput.keyup(function (e) {
            wd = $(this).val().trim();
            if (wd != "") {
              $.get({
                url: "http://localhost/commodities/search",
                data: { wd },
                success(res) {
                  if (res.status == 1) {
                    getList(res.data);
                  }
                }
              })
            } else {
              list.hide();
            }
          })

          function getList(data) {
            if (data.length == 0) {
              list.hide();
              return;
            } else {
              list.show();
            }
            let html = data.map(ele => {
              return `<li>${ele.name}</li>`;
            }).join("");
            list.html(html);
          }

          //点击li
          list.on("click", "li", function () {
            searchInput.val($(this).text());
            list.hide();
          })
          //点击搜索
          searchBtn.click(function (e) {
            let wd = searchInput.val().trim();
            if (wd == "") {
              alert("请输入关键字");
              return;
            }
            e.preventDefault();
            $.get({
              url: "http://localhost/commodities/search",
              data: { wd },
              success(res) {
                if (res.status == 1) {
                  location.href = "http://localhost/html/list.html?classId=" + res.data[0].id
                } else {
                  alert(res.msg);
                  return;
                }

              }
            })
          })
        })

      </script>
      <div class="hot">
        热搜：
        <a href="http://localhost/html/list.html?classId=2">
          跑步鞋
        </a>
        <a href="http://localhost/html/list.html?classId=1">
          休闲鞋
        </a>
        <a href="#">
          篮球鞋
        </a>
        <a href="#">
          卫衣外套
        </a>
        <a href="#">
          运动长裤
        </a>
      </div>
    </div>
    <div class="shop-cart">
      <a href="http://localhost/html/shopCart.html">
        购物车<span class="cart-num">0</span>件
      </a>
    </div>
  </div>
</div>

<!-- 商品选项卡区域 -->
<div class="commodity-list">
  <ul class="nav-list">
    <li class="nav-list2">
    </li>
    <li class="nav-list3">
      <a target="_blank" href="https://www.s.cn/page-pc_yyzz.html">
        <img src="//images.s.cn/images/20190108/zp.png" style="height: 33px;"></a>
    </li>
  </ul>
</div>