@charset "UTF-8";
header {
  margin-bottom: 1px;
}

header a {
  position: relative;
  color: #666;
}

header a:hover {
  color: #f60;
  text-decoration: underline;
}

.top-nav {
  background: #eee;
  border-bottom: 1px solid #e5e5e5;
}

.top-nav .container {
  padding-top: 4px;
  height: 21px;
}

.top-nav .nav {
  float: right;
}

.top-nav .nav > li {
  float: left;
  padding: 0 15px;
  border-right: 1px solid #d5d5d5;
  height: 16px;
  line-height: 16px;
  font-family: '宋体';
}

.top-nav .nav > li .triangle {
  position: absolute;
  top: 6px;
  right: 10px;
  height: 0;
  width: 0;
  overflow: hidden;
  border-width: 4px 4px 0;
  border-style: solid;
  border-color: #666 #eee #eee;
}

.top-nav .nav .no-login {
  display: none;
}

.top-nav .nav .no-login a {
  float: left;
  color: #f60;
  margin-left: 26px;
}

.top-nav .nav .logined {
  display: none;
}

.top-nav .nav .mine,
.top-nav .nav .phone {
  position: relative;
  padding-right: 25px;
}

.top-nav .nav .mine a,
.top-nav .nav .phone a {
  z-index: 10;
}

.top-nav .nav .mine .triangle,
.top-nav .nav .phone .triangle {
  z-index: 10;
}

.top-nav .nav .mine .mask,
.top-nav .nav .phone .mask {
  display: none;
  position: absolute;
  height: 20px;
  width: 100px;
  left: -1px;
  top: -4px;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 -3px 3px #ccc;
  box-shadow: 0 -3px 3px #ccc;
  border-bottom: 0;
  background: #fff;
  display: none;
  z-index: 9;
}

.top-nav .nav .mine:hover ul,
.top-nav .nav .mine:hover .mask,
.top-nav .nav .phone:hover ul,
.top-nav .nav .phone:hover .mask {
  display: block;
}

.top-nav .nav .mine ul,
.top-nav .nav .phone ul {
  display: none;
  position: absolute;
  top: 16px;
  right: -1px;
  width: 165px;
  padding: 10px 0px 10px 15px;
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 3px #ccc;
  z-index: 8;
}

.top-nav .nav .mine ul li,
.top-nav .nav .phone ul li {
  float: left;
  border: 0;
  height: 27px;
  width: 50px;
  padding-left: 2px;
  padding-right: 15px;
  line-height: 26px;
  background: url("../images/head_2013_v2.png") no-repeat 0 26px;
  margin-right: 15px;
}

.top-nav .nav .phone {
  margin-left: 15px;
  background: url("../images/head_2013_v2.png") no-repeat -366px 1px;
}

.top-nav .nav .phone ul {
  width: 210px;
  padding: 10px;
}

.top-nav .nav .phone ul li {
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  background: none;
}

.top-nav .nav .phone ul li img {
  width: 100px;
  height: 120px;
}

.logo h2 {
  float: left;
  height: 63px;
  padding-top: 10px;
  background: url("//images.s.cn/images/css/newlogo.png") no-repeat 0 10px;
  width: 427px;
}

.logo .logo-right {
  float: right;
  padding-top: 8px;
  width: 535px;
  height: 68px;
}

.logo .logo-right .search {
  float: left;
  width: 345px;
  height: 55px;
  padding: 8px 0 4px;
  position: relative;
}

.logo .logo-right .search .search-box {
  position: relative;
  float: left;
  width: 272px;
  height: 26px;
  border: 2px solid #d5d5d5;
  border-right: 0;
}

.logo .logo-right .search .search-box input {
  width: 260px;
  height: 26px;
  line-height: 26px;
  color: #666;
  padding: 0 5px;
  border: 0;
}

.logo .logo-right .search .search-box .data-list {
  display: none;
  position: absolute;
  width: 272px;
  border: 1px solid #d5d5d5;
  border-top: 0;
  top: 27px;
  left: -2px;
  z-index: 999;
  background-color: #fff;
}

.logo .logo-right .search .search-box .data-list li {
  height: 25px;
  line-height: 25px;
  padding-left: 10px;
  font-style: 20px;
  border-bottom: 1px solid #d5d5d5;
  cursor: pointer;
}

.logo .logo-right .search .search-box .data-list li:last-child {
  border-bottom: 0;
}

.logo .logo-right .search .search-box .data-list li:hover {
  background-color: #eee;
}

.logo .logo-right .search .search-btn {
  width: 65px;
  height: 30px;
  background: #444;
  float: left;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  border: 0;
  font-family: 'microsoft yahei';
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

.logo .logo-right .search .hot {
  float: left;
  height: 28px;
  line-height: 28px;
  color: #ccc;
  width: 100%;
  overflow: hidden;
}

.logo .logo-right .search .hot a {
  color: #888;
  padding-right: 4px;
}

.logo .logo-right .shop-cart {
  float: right;
  height: 34px;
  margin-top: 12px;
  width: 80px;
  height: 34px;
  line-height: 34px;
  padding-left: 46px;
  color: #666;
  background: url("//images.s.cn/images/2012/1024/head_cart_bg.gif") no-repeat;
  cursor: pointer;
}

.logo .logo-right .shop-cart a {
  display: block;
}

.logo .logo-right .shop-cart:hover {
  background-position: 0 -34px;
}

.logo .logo-right .shop-cart:hover a {
  color: #fff;
  text-decoration: none;
}

.logo .logo-right .shop-cart .cart-num {
  padding: 0 3px;
  color: #c00;
  font-weight: 600;
}

.commodity-list {
  height: 34px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 5px;
  background: url("//images.s.cn/images/2012/1024/201402241517.gif") repeat-x bottom;
}

.commodity-list .nav-list {
  position: relative;
  width: 1050px;
  margin: 0 auto;
  height: 34px;
  background: #a21f25;
}

.commodity-list .nav-list > li {
  float: left;
}

.commodity-list .nav-list .all {
  position: relative;
  width: 190px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  font-size: 14px;
  color: #FFF;
  font-weight: 700;
  background-color: #B9363D;
}

.commodity-list .nav-list .all .all-list {
  display: none;
  position: absolute;
  top: 34px;
  left: 0px;
  width: 190px;
  background-color: #1e1908;
  z-index: 10;
}

.commodity-list .nav-list .all .all-list.active {
  display: block;
}

.commodity-list .nav-list .all .all-list .all-item {
  position: relative;
  height: 43px;
  line-height: 43px;
  background: #2d2d2d;
  color: #fff;
}

.commodity-list .nav-list .all .all-list .all-item.active .item-list {
  display: block;
}

.commodity-list .nav-list .all .all-list .all-item span {
  float: left;
  width: 33px;
  height: 43px;
  margin-right: 5px;
  text-align: right;
  text-decoration: none;
  font-size: 16px;
  -webkit-transition: width 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background: url("//images.s.cn/images/css/navcats_icon.png") no-repeat 12px -422px;
}

.commodity-list .nav-list .all .all-list .all-item:nth-of-type(1) span {
  background-position: 10px -48px;
}

.commodity-list .nav-list .all .all-list .all-item:nth-of-type(2) span {
  background-position: 10px -92px;
}

.commodity-list .nav-list .all .all-list .all-item:nth-of-type(3) span {
  background-position: 10px -136px;
}

.commodity-list .nav-list .all .all-list .all-item:nth-of-type(4) span {
  background-position: 10px -187px;
}

.commodity-list .nav-list .all .all-list .all-item:nth-of-type(5) span {
  background-position: 10px -233px;
}

.commodity-list .nav-list .all .all-list .all-item:nth-of-type(6) span {
  background-position: 10px -280px;
}

.commodity-list .nav-list .all .all-list .all-item:nth-of-type(7) span {
  background-position: 10px -330px;
}

.commodity-list .nav-list .all .all-list .all-item:nth-of-type(8) span {
  background-position: 10px -462px;
}

.commodity-list .nav-list .all .all-list .all-item a {
  float: left;
  color: #fff;
  font-size: 12px;
}

.commodity-list .nav-list .all .all-list .all-item i {
  position: absolute;
  top: 20px;
  right: 10px;
  display: none;
  height: 0;
  font-size: 0;
  line-height: 0;
  border-style: solid;
  border-width: 4px 4px 0;
  border-color: #fff transparent;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.commodity-list .nav-list .all .all-list .all-item:hover {
  background-color: #a90000;
}

.commodity-list .nav-list .all .all-list .all-item:hover i {
  display: block;
  -webkit-transform: rotateZ(-90deg);
  transform: rotateZ(-90deg);
}

.commodity-list .nav-list .all .all-list .all-item:hover span {
  width: 36px;
  background-position-x: 14px;
}

.commodity-list .nav-list .all .all-list .all-item .item-list {
  display: none;
  position: absolute;
  top: 0px;
  left: 190px;
  width: 280px;
  height: 385px;
  padding: 0 20px;
  overflow: hidden;
  background: #fbfbfb;
  -webkit-box-shadow: 1px 0 2px #978d8d inset;
  box-shadow: 1px 0 2px #978d8d inset;
  opacity: .95;
}

.commodity-list .nav-list .all .all-list .all-item .item-list > div {
  overflow: hidden;
}

.commodity-list .nav-list .all .all-list .all-item .item-list .title {
  position: relative;
  height: 20px;
  width: auto;
  margin: 25px auto 0;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid #000;
}

.commodity-list .nav-list .all .all-list .all-item .item-list .title.no-bg a {
  background: none;
  padding-left: 0;
}

.commodity-list .nav-list .all .all-list .all-item .item-list .title.no-bg .more {
  display: none;
}

.commodity-list .nav-list .all .all-list .all-item .item-list .title a {
  display: block;
  color: #000;
  font-family: 'Microsoft YaHei';
  position: absolute;
  left: 5px;
  bottom: 0;
  background: url("//images.s.cn/images/css/lf_pop_icon.png") no-repeat;
  background-position: -23px -24px;
  width: 90px;
  height: 20px;
  line-height: 20px;
  padding-top: 17px;
  padding-left: 45px;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  text-align: left;
  -webkit-transition: left .3s linear;
  transition: left .3s linear;
}

.commodity-list .nav-list .all .all-list .all-item .item-list .title a:nth-of-type(1):hover {
  left: 10px;
}

.commodity-list .nav-list .all .all-list .all-item .item-list .title .more {
  position: absolute;
  top: 0;
  right: 0;
  background: 0 0;
  width: 30px;
  padding: 0;
  left: auto;
  font-size: 12px;
  color: #666;
}

.commodity-list .nav-list .all .all-list .all-item .item-list .category-label-list {
  margin: 10px 0 0 -1px;
}

.commodity-list .nav-list .all .all-list .all-item .item-list .category-label-list a {
  float: left;
  white-space: nowrap;
  padding: 0 8px;
  margin-top: 5px;
  line-height: 1em;
  color: #888;
  cursor: pointer;
}

.commodity-list .nav-list .all .all-list .all-item .item-list .category-label-list a.hight-light {
  color: #d01f47;
}

.commodity-list .nav-list .nav-list2 li {
  position: relative;
  float: left;
}

.commodity-list .nav-list .nav-list2 li.active .item {
  background: #444;
}

.commodity-list .nav-list .nav-list2 li .item {
  display: block;
  font-size: 14px;
  padding: 0 18px;
  line-height: 34px;
  height: 34px;
  text-decoration: none;
  color: #FFF;
  border-left: 1px solid #a21f25;
  background: url(//images.s.cn/statics/line.png) no-repeat 0 center;
}

.commodity-list .nav-list .nav-list2 li .item.first {
  padding-left: 21px;
  margin-left: -3px;
}

.commodity-list .nav-list .nav-list2 li.active .show-list {
  display: block;
}

.commodity-list .nav-list .nav-list2 li .show-list {
  display: none;
  position: absolute;
  top: 34px;
  left: 0px;
  width: 668px;
  height: 292px;
  padding: 13px 0 18px;
  text-align: left;
  font-family: 'Microsoft Yahei';
  background: #fff;
  -webkit-box-shadow: 0 0 3px #CCCCCC;
  box-shadow: 0 0 3px #CCCCCC;
  z-index: 10;
}

.commodity-list .nav-list .nav-list2 li .show-list li {
  float: left;
  width: 140px;
  padding-left: 22px;
}

.commodity-list .nav-list .nav-list2 li .show-list li h4 {
  font-size: 18px;
  display: block;
  padding-bottom: 7px;
  height: 24px;
  line-height: 24px;
  color: #2a2a2a;
  font-weight: bold;
}

.commodity-list .nav-list .nav-list2 li .show-list li a {
  display: block;
  font-size: 12px;
  line-height: 24px;
  outline: none;
  color: #555555;
  text-decoration: none;
  white-space: nowrap;
}

.commodity-list .nav-list .nav-list2 li .show-list li a:hover {
  color: #c80000;
}

.commodity-list .nav-list .nav-list2 li .show-list .brand {
  width: 255px;
}

.commodity-list .nav-list .nav-list2 li .show-list .brand a {
  float: left;
  height: 35px;
  margin: 0 3px 3px 0;
  width: 69px;
}

.commodity-list .nav-list .nav-list2 li .show-list .brand a:hover {
  border: 1px solid #CCCCCC;
  height: 33px;
  overflow: hidden;
  width: 67px;
}

.commodity-list .nav-list .nav-list3 {
  float: right;
}
