@charset "UTF-8";
.navigation {
  padding: 10px 0;
  font-family: '宋体';
  color: #999;
}

.navigation span {
  margin-right: 5px;
}

.bar {
  border: 1px solid #e5e5e5;
  background: #f1f1f1;
  padding-left: 1em;
  font-size: 14px;
  font-weight: 700;
  height: 30px;
  line-height: 30px;
}

.bar p {
  float: left;
  height: 30px;
  padding: 0 30px 0 0;
  margin: 0;
  background: url("//images.s.cn/themes/scn2012/images/skin/list_icon.png") no-repeat right 0;
}

.bar p span {
  color: #999;
  font-size: 12px;
  font-weight: normal;
}

.bar p span i {
  color: #c00;
  font-style: normal;
  padding: 0 3px;
}

.filter-box {
  border: 1px solid #e5e5e5;
  border-top: 0;
  margin-bottom: 0;
  background: #fafafa;
}

.filter-box .select {
  border-bottom: 1px solid #E5E5E5;
  margin-bottom: -1px;
  padding: 15px;
  color: #666;
}

.filter-box .select a {
  color: #c00;
  border: 1px solid #c00;
  border-radius: 2px;
  height: 15px;
  line-height: 15px;
  overflow: hidden;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  margin-right: 5px;
  padding: 2px 19px 2px 4px;
}

.filter-box .select a:hover {
  color: #555;
  border-color: #ccc;
}

.filter-box .select a i {
  display: block;
  position: absolute;
  right: 2px;
  top: 3px;
  height: 13px;
  width: 13px;
  overflow: hidden;
  background: #c00 url("//images.s.cn/themes/scn2012/images/skin/list_icon.png") no-repeat 0 -43px;
}

.filter-box .select a.reselect {
  color: #808080;
  padding: 0 0 0 15px;
  border: 0;
  margin-left: 7px;
  background: url("//images.s.cn/themes/scn2012/images/skin/list_icon.png") no-repeat 0 -137px;
}

.filter-box .nselect dl {
  position: relative;
  padding: 12px 110px 4px 70px;
  border-bottom: 1px dotted #ccc;
  white-space: nowrap;
}

.filter-box .nselect dl.select_dl dd a:hover {
  text-decoration: underline;
  color: red;
}

.filter-box .nselect dl dt {
  width: 65px;
  position: absolute;
  left: 0;
  top: 12px;
  text-align: right;
  color: #888;
}

.filter-box .nselect dl dd {
  float: left;
  width: 110px;
  height: 23px;
  white-space: nowrap;
}

.filter-box .nselect .more-select {
  position: absolute;
  top: 11px;
  right: 58px;
  color: #666;
  line-height: 16px;
  padding: 0 5px 0 20px;
  background: #eee url("//images.s.cn/themes/scn2012/images/skin/list_icon.png") no-repeat 5px -364px;
  border: 1px solid #ddd;
  cursor: pointer;
}

.filter-box .nselect .brand dd {
  background: url("//images.s.cn/images/scn2012/skin/skin_201201.png") no-repeat -284px -119px;
  height: 42px;
  margin: 0 25px 0 0;
  margin: 0 30px 0 0\9;
  overflow: hidden;
  width: 85px;
}

.filter-box .nselect .brand dd a {
  height: 32px;
  float: left;
  width: 57px;
  margin: 0;
  line-height: 8;
  overflow: hidden;
  background: url("../images/skin_201201.png") no-repeat;
}

.filter-box .nselect .brand dd a.nike {
  background-position: -5px -422px;
}

.filter-box .nselect .brand dd a.newbalance {
  background-position: -5px -498px;
}

.filter-box .nselect .brand dd a:hover {
  border-color: #eee #bbb #bbb #eee;
  border-style: solid;
  border-width: 1px;
  height: 30px;
  width: 55px;
}

.oc-btn {
  display: block;
  width: 98px;
  height: 34px;
  padding-right: 10px;
  line-height: 28px;
  color: #999;
  margin: 0 auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  margin-top: -1px;
  margin-bottom: 10px;
  background: url("//images.s.cn/images/css/c_o_icon.png") no-repeat;
  background-position: -121px 0;
}

.oc-btn i {
  display: block;
  width: 9px;
  height: 5px;
  overflow: hidden;
  position: absolute;
  top: 12px;
  right: 24px;
  background: url("//images.s.cn/images/css/c_o_icon.png") no-repeat;
  background-position: -110px -8px;
}

.oc-btn i.close {
  background-position: -110px -4px;
}

.oc-btn:hover {
  background-position: 0 0;
  color: #555;
}

.sort-box {
  border: 1px solid #dbdbdb;
  border-top-width: 4px;
  background: #f7f7f7;
  height: 36px;
  line-height: 36px;
  color: #666;
  padding: 0 5px 0 10px;
}

.sort-box .sort span {
  float: left;
}

.sort-box .sort a {
  display: block;
  float: left;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  color: #666;
  border-radius: 2px;
  background: #ccc url("//images.s.cn/themes/scn2012/images/skin/list_icon.png") no-repeat 34px -159px;
  margin: 8px 6px 0 3px;
  padding: 0 16px 0 7px;
  font-family: '宋体';
  text-decoration: none;
}

.sort-box .sort a.default {
  background-image: none;
  padding: 0 5px;
}

.sort-box .sort a.active {
  color: #fff;
  background-color: #f60;
}

.sort-box .sort a.active.price, .sort-box .sort a.active.sell {
  background: #f60 url("//images.s.cn/themes/scn2012/images/skin/list_icon.png") no-repeat 34px -181px;
}

.sort-box .sort a.active.asc {
  background-position: 34px -203px;
}

.sort-box .counts {
  padding-right: 8px;
}

.sort-box .counts span {
  color: #f40;
  padding: 0 3px;
}

.list {
  padding-bottom: 30px;
}

.list .list-item {
  float: left;
  width: 219px;
  margin: 20px 11px 10px;
  border: 1px solid #eee;
  height: 322px;
}

.list .list-item:hover .wrap {
  border-color: #f2f2f2;
}

.list .list-item:hover .desc {
  background-color: #f2f2f2;
}

.list .list-item:hover .desc .size {
  height: 20px;
}

.list .list-item .wrap {
  display: block;
  text-align: center;
  height: 244px;
  border: 3px solid #fff;
}

.list .list-item .scroll {
  position: absolute;
  z-index: 2;
  width: 210px;
  margin-left: 0;
  padding: 2px 0 3px 0px;
  margin-top: 2px;
}

.list .list-item .scroll span {
  position: absolute;
  top: 0;
  width: 20px;
  height: 29px;
  line-height: 29px;
  text-align: center;
  color: #aaa;
  font-size: 16px;
  font-family: "\5b8b\4f53";
  cursor: pointer;
}

.list .list-item .scroll span.prev {
  left: 2px;
}

.list .list-item .scroll span.next {
  right: 2px;
}

.list .list-item .scroll ul {
  padding: 0 20px;
  margin-top: -5px;
  padding-top: 2px;
}

.list .list-item .scroll ul li {
  float: left;
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  padding: 1px;
}

.list .list-item .scroll ul li img {
  width: 30px;
  height: 30px;
}

.list .list-item .scroll ul li:hover {
  border-color: #f40;
}

.list .list-item .desc {
  min-height: 65px;
  _height: 65px;
  width: 205px;
  padding: 5px 5px 5px 10px;
}

.list .list-item .desc p {
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.list .list-item .desc p.price {
  font-size: 12px;
  color: #555;
}

.list .list-item .desc p.price del {
  font-family: verdana;
  color: #888;
}

.list .list-item .desc p i {
  color: #f60;
  font-weight: 700;
  padding: 0 3px;
}

.list .list-item p.size {
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
}

.page-btns {
  float: right;
  height: 32px;
}

.page-btns li {
  float: left;
  height: 24px;
  line-height: 24px;
  padding: 0 10px;
  font-size: 14px;
  color: #888;
  margin: 0 4px;
  border: 1px solid #bbb;
  border-radius: 2px;
  cursor: pointer;
}

.page-btns li:hover {
  background-color: #fffae7;
  color: #333;
  border-color: #f60;
}

.page-btns li.active {
  background: #666;
  border-color: #666;
  color: #FFFFFF;
}
