.sider {
  position: fixed;
  width: 37px;
  height: 100%;
  overflow: visible;
  top: 0;
  right: 0;
  z-index: 999;
  color: #fff;
  background-color: #000;
  font-family: "Microsoft Yahei", "\5fae\8f6f\96c5\9ed1", "\5b8b\4f53";
}

.sider .sider-logo {
  position: absolute;
  left: 0;
  top: 0;
  width: 37px;
  height: 35px;
  background: url("//images.s.cn/images/css/rbar_icon.png") no-repeat;
}

.sider .txt {
  position: absolute;
  left: 0;
  top: 32px;
  width: 29px;
  padding: 0 3px;
  font-size: 12px;
  text-align: center;
  color: #fff;
  line-height: 14px;
}

.sider .hot-activity {
  position: relative;
  width: 41px;
  height: 157px;
  border-bottom-left-radius: 2px;
  top: 0;
  left: -4px;
  cursor: pointer;
  background-color: #BD0000;
}

.sider .hot-activity i {
  background-position: 7px 14px;
}

.sider .hot-activity p {
  width: 20px;
  font-size: 18px;
  line-height: 22px;
  top: 48px;
  left: 6px;
}

.sider .brand-class {
  position: relative;
  height: 122px;
  margin-top: 23px;
  left: 0;
  width: 37px;
  cursor: pointer;
  z-index: 9;
}

.sider .brand-class:hover {
  background-color: #c40000;
}

.sider .brand-class i {
  background-position: 6px -29px;
}

.sider .brand-class p {
  left: 8px;
  top: 40px;
  width: 20px;
  line-height: 16px;
  overflow: hidden;
  padding: 0;
}

.sider .cart {
  position: relative;
  left: 0;
  width: 37px;
  height: 35px;
  cursor: pointer;
  z-index: 9;
  margin: 8px 0px;
  background-position: 6px -77px;
}

.sider .cart:hover {
  background-color: #c40000;
}

.sider .cart .cart-border {
  position: absolute;
  top: -5px;
  left: 5px;
  height: 33px;
  width: 25px;
  border-top: 1px solid #676767;
}

.sider .cart:hover .cart-txt {
  display: block;
}

.sider .cart .cart-txt {
  display: none;
  position: absolute;
  font-size: 12px;
  right: 47px;
  top: 0px;
  width: 90px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: #fff;
  background-color: #494949;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}

.sider .cart .cart-txt a {
  color: #fff;
}

.sider .cart .cart-txt .jian {
  position: absolute;
  top: 10px;
  right: -8px;
  color: #494949;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  font-size: 16px;
  font-family: "\5b8b\4f53";
}

.sider .order {
  background-position: 10px -119px;
}

.sider .star,
.sider .zhuan,
.sider .to-top {
  position: absolute;
  top: auto;
  bottom: 90px;
  left: 0;
  background-position: 7px -218px;
}

.sider .zhuan {
  bottom: 50px;
  background-position: 8px -273px;
}

.sider .to-top {
  bottom: 10px;
  background-position: 7px -324px;
}

.sider .to-top.is-top {
  display: none;
}
